@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit";
}

hr{
    border: 1px solid blue;
}

.app-container {
    height: 90%; 
    display: flex;
}
.navbar{
    height: 10%;
}
.application{
    height: 100vh;
}
  
.main-content {
    flex: 1;
    padding: 1rem;
}
  